
@{
    ViewData["Title"] = "Projetos";
 
}


<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Projetos</title>

</head>
<body>

    <div style="text-align: center;">
        <a href="https://github.com/lucasvaz-net">
            <img height="180" src="https://github-readme-stats.vercel.app/api?username=lucasvaz-net&show_icons=true&theme=dark&include_all_comits=true&count_private=true" />
            <img height="180" src="https://github-readme-stats.vercel.app/api/top-langs/?username=lucasvaz-net&layout=compact&langs_count=16&theme=dark" />
        </a>
    </div>


    <div class="container mt-4">
        <div class="row">
            @foreach (var proj in Model)
            {
                <div class="col-md-6 col-lg-4 mt-4 d-flex">
                    <div class="card flex-column">
                        <br />
                        <h3>@proj.nome</h3>

                        <!-- Descrição do projeto -->
                        <div style="flex-grow: 1;">
                            <p>@proj.descricao</p>
                        </div>
                        <!-- Tecnologias associadas ao projeto -->
                        <p class="text-center">
                            @foreach (var tecnologia in proj.tecnologias)
                            {
                                <img src="~/@tecnologia" alt="@tecnologia" width="40" height="40" />
                            }
                        </p>

                        <div class="button-container d-flex justify-content-center">
                            @if (!string.IsNullOrEmpty(proj.linkgithub))
                            {
                                <a href="@proj.linkgithub" target="_blank" class="btn btn-block transparent-button" type="button">
                                    <img src="~/github.png" width="30px" height="30px"> Ver no Github
                                </a>
                            }
                            else
                            {
                                <button class="btn btn-block transparent-button" type="button">Indisponível</button>
                            }

                            @if (!string.IsNullOrEmpty(proj.linkweb))
                            {
                                @* Criar a URL com os parâmetros do projeto para "Ver na Web" usando o método string.Format *@
                                <a href='@($"{proj.linkweb}/conta/login/{proj.login}/{proj.senha}")' target='_blank' class='btn btn-block transparent-button' type='button'>
                                    <img src="~/link-conectado.png" width='34px' height='30px'> Ver na Web
                                </a>
                            }


                        </div>
                        <br />
                    </div>

                </div>
            }
        </div>
    </div>




    <div id="button-containersobremim">
        <a asp-controller="Habilidades" asp-action="Index" class="transparent-button">Vamos Continuar</a>
        <br />
        <br />
        <br />
    </div>
</body>
</html>
